body {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
	background: aquamarine;
}

h1 {
	text-align: center;
}
.App {
	margin: 20px;
}
.list, .details {
	width: 40%;
	display: inline-block;
}

.details {
	position: fixed;
	right: 0;
	margin: 20px 40px;
	padding: 30px;
	text-align: center;
	border: 1px solid grey;
	background: #fdf8cf91;
	max-width: 300px;
}

.details h2 {
	margin: 0;
}

.details img {
	width: 200px;
}

.details table {
	width: 100%;
}

.details td:first-child {
	text-align: left;
	font-weight: 600;
}
